<p>Formulario</p>

<form (ngSubmit)="guardarDatos()" #formulario="ngForm">

    <div class="p-field">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" pInputText required>
    </div>

    <div class="p-field">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" pInputText required>
    </div>

    <div class="p-field">
        <label for="contraseña">Contraseña:</label>
        <p-password [ngModel]="contrasena" name="contrasena" [feedback]="true" [toggleMask]="true" required
            (ngModelChange)="contrasena = $event"></p-password>
    </div>

    <div class="p-field">
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" [(ngModel)]="fechaNacimiento" pInputText>
        <div *ngIf="!fechaNacimiento" style="color: red;">¡Por favor, introduce tu fecha de nacimiento!</div>
    </div>
    <button pButton type="submit" label="Success" icon="pi pi-check" class="p-button-success"
        [disabled]="formulario.invalid"></button>
</form>